<section class="partners-section mt-4">
  <div class="container py-5">

    <div class="text-center mb-5">
      <h2 class="section-title">Our Partners</h2>
      <p class="section-subtitle">
        Leadership guided by integrity, experience, and professional excellence
      </p>
    </div>

    <div class="partners-list">
      <div
        class="partner-card mt-2"
        *ngFor="let partner of partners"
      >

        <h4 class="partner-name">{{ partner.name }}</h4>
        <span class="partner-role">{{ partner.designation }}</span>

        <p class="partner-description text-justify">
          {{ partner.description }}
        </p>

      </div>
    </div>

  </div>
</section>
